@property --x {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

@property --size {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

@property --stops {
    syntax: '<color>#';
    inherits: true;
    initial-value: transparent;
}

*,
*::before,
*::after {
    transition-property: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

canvas#pixel-grid {
    image-rendering: pixelated;
    overflow: hidden;
}

#block-borders {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#block-borders .block {
    position: absolute;
    border: 1px solid red;
}

#block-borders .block .label {
    position: sticky;
    display: inline;
    color: red;
    font-family: monospace;
    top: 4px;
    left: 4px;
    margin: 4px;
}

#toolbox {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: flex;
    flex-direction: row;
}

.button {
    --size: 20px;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    --size: 26px;
}

.button.active {
    --size: 32px;
}

.button.animated {
    transition-property: --size;
}

.button::before {
    content: '';
    position: absolute;
    top: calc(18px - var(--size) / 2);
    left: calc(18px - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #0000007f;
}

.icon {
    width: 16px;
    height: 16px;
    background-color: black;
}

.icon-pan {
    clip-path: polygon(
        8px 0px,
        16px 8px,
        8px 16px,
        0px 8px,
        4px 4px,
        4px 12px,
        12px 12px,
        12px 4px,
        4px 4px
    );
}

.icon-add {
    clip-path: polygon(
            7px 2px,
            9px 2px,
            9px 7px,
            14px 7px,
            14px 9px,
            9px 9px,
            9px 14px,
            7px 14px,
            7px 9px,
            2px 9px,
            2px 7px,
            7px 7px
    );
}

.icon-remove {
    transform: rotate(45deg);
    clip-path: polygon(
            7px 2px,
            9px 2px,
            9px 7px,
            14px 7px,
            14px 9px,
            9px 9px,
            9px 14px,
            7px 14px,
            7px 9px,
            2px 9px,
            2px 7px,
            7px 7px
    );
}

.pip {
    --hex: transparent;
    --x: 0;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.pip.animated {
    transition-property: --x;
}

.pip::before {
    --size: 16px;
    position: absolute;
    content: '';
    top: calc(16px - var(--size) / 2);
    left: calc(16px - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: var(--hex);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #0000007f;
    transform: translate(var(--x), 0) rotate(45deg);
    transition-property: --size, border-radius;
}

.pip.animate::before {
    transition-property: --size, border-radius, background-color;
}

#toolbox:not(:has(.pip.dragging)) .pip:hover::before,
.pip.dragging::before {
    --size: 22px;
}

#toolbox:not(:has(.pip.dragging)) .pip.active::before,
.pip.active::before {
    --size: 28px;
}

.pip.editing::before {
    border-top-left-radius: 4px;
}

#toolbox .button::after,
#toolbox .pip::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-size: 10px;
    font-family: monospace;
    transform: translate(var(--x), 0);
}

#toolbox .button.button-1::after,
#toolbox .pip.button-1::after {
    content: 'M';
    left: 12px;
    bottom: -2px;
}

#toolbox .button.button-2::after,
#toolbox .pip.button-2::after {
    content: 'R';
    right: 1px;
    bottom: 1px;
}

#toolbox .button.button-0::after,
#toolbox .pip.button-0::after {
    content: 'L';
    left: 1px;
    bottom: 1px;
}

#picker {
    position: absolute;
    bottom: 54px;
    right: 4px;
    display: flex;
    flex-direction: column;
    transition-property: opacity;
}

#picker-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#picker-tools .button {
}

.slider {
    position: relative;
    width: 360px;
    height: 36px;
    cursor: pointer;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--stops));
}

.slider .knob {
    --size: 16px;
    --value: 0;
    position: absolute;
    top: calc(16px - var(--size) / 2);
    left: calc((100% - 36px) * var(--value) + 16px - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #0000007f;
    transition-property: --size;
}

.slider:hover .knob {
    --size: 22px;
}

.animate .slider.animate {
    transition-property: --stops;
}

.animate .slider.animate .knob {
    transition-property: --size, left, background-color;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.glass {
    background: #7f7f7fbf;
    border-top: 1px solid #ffffff7f;
    border-bottom: 1px solid #ffffff3f;
    border-radius: 22px;
    padding: 4px 5px;
}

@supports (backdrop-filter: blur()) {
    .glass {
        background: #7f7f7f7f;
        backdrop-filter: blur(8px);
    }
}

input {
    background: #0000007f;
    outline: none;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    height: 20px;
    margin: 6px;
    padding: 0 4px;
    transition-property: border, box-shadow;
}

input:hover,
input:focus-visible {
    border: 2px solid white;
    box-shadow: 0 2px 4px #0000007f;
}

.hr,
.vr {
    background: white;
    opacity: 50%;
    margin: 4px;
}

.hr {
    height: 2px;
}

.vr {
    width: 2px;
}
