@property --x {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

@property --size {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

@property --stops {
    syntax: '<color>#';
    inherits: true;
    initial-value: transparent;
}

*,
*::before,
*::after {
    transition-property: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    user-select: none;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

canvas#pixel-grid {
    --cursor: auto;
    --cursor-down: var(--cursor);
    image-rendering: pixelated;
    overflow: hidden;
    touch-action: manipulation;
    cursor: var(--cursor);
}

body.dragging canvas#pixel-grid {
    cursor: var(--cursor-down);
}

#ghost-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#pixel-preview {
    position: absolute;
    border: 2px solid white;
    mix-blend-mode: difference;
}

#ghost-layer .block {
    position: absolute;
    border: 1px solid red;
}

#ghost-layer .block .label {
    position: sticky;
    display: inline;
    color: red;
    font-family: monospace;
    top: 4px;
    left: 4px;
    margin: 4px;
}

#toolbox {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: flex;
    flex-direction: row;
}

#tools {
    display: flex;
    flex-direction: row;
}

.tool {
    --x: 0;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(var(--x), 0);
}

.tool.animate {
    transition-property: --x;
}

.tool::before {
    --size: 0;
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: white;
    box-shadow: 0 2px 4px #0000007f;
    opacity: 0;
    transition-property: --size, opacity;
}

.tool:hover::before {
    --size: 20px;
    opacity: 100%;
}

.tool.active::before {
    --size: 26px;
    opacity: 100%;
}

.tool svg {
    position: absolute;
}

#palette {
    display: flex;
    flex-direction: row;
}

.pip {
    --hex: transparent;
    --x: 0;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.pip.animate {
    transition-property: --x, margin, opacity;
}

.pip.slide-in-out {
    margin-right: -36px;
    opacity: 0;
    pointer-events: none;
}

.pip::before {
    --size: 22px;
    position: absolute;
    content: '';
    top: calc(16px - var(--size) / 2);
    left: calc(16px - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: var(--hex);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #0000007f;
    transform: translate(var(--x), 0) rotate(45deg);
    transition-property: --size, border-radius;
}

.pip:hover::before {
    --size: 28px;
}

.pip.animate::before {
    transition-property: --size, border-radius, background-color;
}

.pip.editing::before {
    border-top-left-radius: 4px;
}

#picker {
    position: absolute;
    bottom: 54px;
    right: 4px;
    display: flex;
    flex-direction: column;
}

#picker-tools {
    display: flex;
    flex-direction: row;
}

.slider {
    position: relative;
    width: 276px;
    height: 36px;
    cursor: pointer;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--stops));
}

.slider .knob {
    --size: 16px;
    --value: 0;
    position: absolute;
    top: calc(16px - var(--size) / 2);
    left: calc((100% - 36px) * var(--value) + 16px - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #0000007f;
    transition-property: --size;
}

.slider:hover .knob {
    --size: 22px;
}

.animate .slider.animate {
    transition-property: --stops;
}

.animate .slider.animate .knob {
    transition-property: --size, left, background-color;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.glass {
    position: absolute;
    background: #7f7f7fbf;
    border-top: 1px solid #ffffff7f;
    border-bottom: 1px solid #ffffff3f;
    border-radius: 22px;
    padding: 4px 5px;
    transition-property: opacity;
}

body.dragging .glass {
    pointer-events: none;
}

@supports (backdrop-filter: blur()) {
    .glass {
        background: #7f7f7f7f;
        backdrop-filter: blur(8px);
    }
}

input {
    background: #0000007f;
    outline: none;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    flex: 1;
    width: 112px;
    height: 20px;
    margin: 6px;
    padding: 0 4px;
    transition-property: border, box-shadow;
}

input:hover,
input:focus-visible {
    border: 2px solid white;
    box-shadow: 0 2px 4px #0000007f;
}

.hr,
.vr {
    background: white;
    opacity: 50%;
    margin: 4px;
}

.hr {
    height: 2px;
}

.vr {
    width: 2px;
}
